.btn{
    margin: auto;
    transition-duration: 0.2s;
    &__text--color{
        color: white;
    }
    &__style{
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        padding: 15px;
        border: 0px solid $color-primary;
        border-radius: 25px;
        box-shadow: 0px 2px 8px $color-lightgrey-shadow;
        &--longer{
            padding-left: 17%;
            padding-right: 17%;
        }
        &--margin{
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    &:hover{
        box-shadow: 0px 6px 8px $color-lightgrey-shadow;
    }
    &:active{
        box-shadow: 0px 0px 8px #6CD5B9;
    }
}