main{
    padding-bottom: 25px;
    padding-top: 10px;
    background-color: $color-lightgrey;
}

.main__header{
    margin: 10px;
    margin-left: 30px;
}

.mobile-text{
    visibility: hidden;
    transition: visibility ;
}

.desktop-text{
    visibility: visible;
    position: initial;
    transition: visibility;
}

.main__container{
    display: flex;
    flex-direction: column;
    margin: 30px;
    border-radius: 15px;
    &-image{
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 250px;
        object-fit: cover;
        width: 100%;
    }
    &-text{
        background: white;
        padding: 10px;
        padding-bottom: 0px;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-auto-rows: 100%;
        &--border-round{
            border-radius: 25px;
        }
        &--border-bottom-round{
            border-radius: 15px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
        &--margin{
            margin: 7px;
            margin-right: 0px;
            margin-left: 0px;
        }
        &--padding{
            padding-top: 0px;
        }
        &--overflow{
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &-logo{
        justify-self: flex-end;
        align-self: center;
        transition: 0.5s ease-in-out;
        &:hover{
            font-weight: 800;
            background: linear-gradient(to bottom right, $color-secondary, $color-primary);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &-text--bold{
        font-weight: bold;
    }
    &-price{
        align-self: flex-end;
        justify-self: flex-end;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    &-shadow{
        box-shadow: 0px 2px 8px $color-lightgrey-shadow;
    }
    &-tag-new{
        background-color: $color-tertiary;
        color: $color-tertiary-darker;
        position: absolute;
        align-self: flex-end;
        margin: 10px;
        padding: 20px;
        padding-bottom: 4px;
        padding-top: 4px;
        font-weight: bold;
    }
    &-logohover{
        opacity: 0;
        position: absolute;
        display: block;
        align-self: center;
        justify-self: flex-end;
        color: white;
        animation-duration: 1.3s;
        animation-fill-mode: forwards;
        z-index: 4;
        &-2{
            opacity: 0;
            position: absolute;
            display: block;
            align-self: center;
            justify-self: flex-end;
            color: $color-tertiary;
            animation-duration: 1.3s;
            animation-fill-mode: forwards;
            background-color: $color-tertiary;
            padding: 27px;
            border-radius: 25px; 
            border-top-left-radius: 0px; 
            border-bottom-left-radius: 0px;
            z-index: 1;
        }
    }
    &--animation-1{
        @include animation-restaurant-cards;
        animation-duration: 0.5s;
    }
    &--animation-2{
        @include animation-restaurant-cards;
        animation-duration: 1s;
    }
    &--animation-3{
        @include animation-restaurant-cards;
        animation-duration: 1.5s;
    }
    &--animation-4{
        @include animation-restaurant-cards;
        animation-duration: 2s;
    }
    &--hover-animation{
        background-color: white;
        animation-fill-mode: forwards;
        &:hover{
            background-color: white;
            .main__container-logohover{
                opacity: 1;
                animation-name: hover-animation-checkmark;
            }
            .main__container-logohover-2{
                animation-name: hover-animation-checkmark-2;
            }
            .main__container-price{
                position: inherit;
                animation-name: hover-animation-price;
            }
            @media screen and (max-width: 380px){
                .desktop-text{
                    visibility: hidden;
                    position: absolute;
                }
                .mobile-text{
                    visibility: visible;
                } 
            }  
        }
    &-larger{
        animation-fill-mode: forwards;
        background-color: white;
        &:hover{
            .main__container-logohover{
                opacity: 1;
                animation-name: hover-animation-checkmark;
            }
            .main__container-logohover-2{
                animation-name: hover-animation-checkmark-2-larger;
            }
            .main__container-price{
                position: inherit;
                animation-name: hover-animation-price;
            }
            @media screen and (max-width: 380px){
                .desktop-text{
                    position: absolute;
                    visibility: hidden;
                }
                .mobile-text{
                    visibility: visible;
                } 
            } 
        }
    }
    }
}

@keyframes hover-animation-checkmark{
    from {opacity: 0; right: -15px; rotate: (0turn);}
    to {opacity: 1; right:30px; rotate: (1turn);}
}

@keyframes hover-animation-checkmark-2{
    from {opacity: 0; padding: 0px; padding-top: 27px; padding-bottom: 27px;}
    to {opacity: 1; padding: 27px;}
}

@keyframes hover-animation-checkmark-2-larger{
    from {opacity: 0; padding: 0px; padding-top: 38px; padding-bottom: 38px;}
    to {opacity: 1; padding: 38px; padding-left: 27px; padding-right: 27px;}
}

@keyframes hover-animation-price{
    from {right: 0;}
    to {right: 90px;}
}

@keyframes card-1{
    from {top: 10px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

.main__big-container{
    padding-top: 0px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    &--position{
        position: sticky;
        z-index: 4;
    }
}