.nav__title{
    display: flex;
    align-items: baseline;
    justify-content: center;
    &--margin{
        margin-left: 10px;
    }
    &--background{
        background: linear-gradient(to bottom, $color-lightgrey-shadow 0%, $color-grey 10px, $color-grey 100%);
    }
    &--background-2{
        background-color: $color-lightgrey;
    }
    &--border{
        border: 0px solid white;
    }
    &--padding{
        padding-top: 1px;
        padding-bottom: 20px;
    }
    &--container{
        display: flex;
        flex-direction: column;
    }
    &--text-3{
        margin: 10px;
        text-align: center;
    }
}