$color-primary: #9356DC;
$color-primary-lighter: #9D67E0;
$color-secondary: #FF79DA;
$color-secondary-lighter: #FF94E1;
$color-tertiary: #99E2D0;
$color-tertiary-darken: #6CD5B9;
$color-tertiary-darker: #159475;
$color-grey: #EAEAEA;
$color-lightgrey: #F6F6F6;
$color-lightgrey-shadow: rgb(204, 204, 204);
$color-logo-grey: #7E7E7E;
$color-section-hover: #F5EDFF;
$color-animation-1: white;
$color-animation-2: black;
